<div class="container">

  <div class="row">
    <div class="col-md-2 col-lg-3 m-auto">
      <h1 class="font-weight-bold text-nowrap" style="font-size:4vw;">About Us</h1>
    </div>
    <div class="col-md-7 offset-md-1 col-lg-7">
      <img class="w-100" src="../assets/aboutUs/WorkshopNo5Branding-51.png">
    </div>
  </div>

  <section class="my-5 custom-large-margin card bg-light border-0 p-2 wideDiv">
    <div class="row card-body m-auto">
      <p style="font-size:1.6rem;" class="py-5 large-horizontal-padding">Workshop No. 5 was begun with the purpose of researching and designing concepts which provide for their environments.
      From up-cycling builing materials to designing smart homes which live synergistically with their occupants and self-healing buildings which strengthen over time,
      we are actively looking for ways to improve on the old scholls of architecture.
      </p>
    </div>
  </section>

  <section style="padding:20px 80px 20px 80px;">
   <h5 class="font-weight-normal custom-border">MEET THE TEAM</h5>

    <div class="row mt-4">
      <div *ngFor="let image of imageCollection" (deferLoad)="image.show = true" class="col-md-6 col-lg-6 my-5">
        <ng-container *ngIf="image.show">
          <div>
            <img style="width:97%" [src]="image.url">
            <h5 class="mt-5 custom-border font-weight-normal">{{image.title}}</h5>
            <h1 class="mt-4 font-weight-bold">{{image.name}}</h1>
            <p class="mt-4" style="font-size:2rem;">{{image.description}}</p>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="row mt-4  col-lg-12 " (deferLoad)="singleImage.show = true" >
      <img class="w-100 img-fluid" alt="Responsive image" *ngIf="singleImage.show" [src]="singleImage.url">
    </div>

    <div class="row custom-large-margin mx-5 px-5">
      <p class="font-weight-normal m-auto display-4">Morbi tristique est ut dictum blandit.
        <br/>
        Mauris eget lorem risus. Aliquam sed
        <br/>
        lorem iaculis, Fermentum.
      </p>

    </div>
  </section>

</div>
<app-contactinfo-component></app-contactinfo-component>
