<div class="container">
<!--TODO: JSS Need to add this. Need to set size of image matching all other images
 {
      "url" : "../../assets/live/CameronResidence/image1.jpg",
      "name" : "RichCreek",
      "show" : false
    },
-->
  <section>
    <div class="row">
      <div class="col-md-5 col-lg-5 font-cardo">
        <h1 class="display-3 small-font">{{projectData.projectName}}</h1>
        <p class="mt-md-4" style="font-size: 1.6rem;">{{projectData.projectdescription}}</p>

        <div class="m-auto">

          <span *ngFor="let person of projectData.projectPersons; let i = index">
            <h5 class="m-0 text-muted font-weight-normal"
                [ngClass]="{'mt-5':i==0}">{{person.name}}, {{person.position}}</h5>

            <div class="dropdown-divider mr-4 my-4" *ngIf="i!==(projectData.projectPersons.length-1)"></div>
          </span>

        </div>
      </div>

      <div class="col-md-6 col-lg-6 offset-md-1" *ngIf="mainImageUrl">
        <img class="w-100" [src]="mainImageUrl">
      </div>

      <!--TODO JSS in case required Carousel behavior-->
      <!--<div class="col-md-12 col-lg-7 m-auto">-->

        <!--<div id="projectCarousel" class="carousel slide my-4" data-ride="carousel">-->

          <!--&lt;!&ndash; The slideshow &ndash;&gt;-->
          <!--<div class="carousel-inner product-carousel clearfix">-->
            <!--<div [className]="i==1 ? 'carousel-item active' : 'carousel-item'"-->
                 <!--*ngFor="let image of imageCollection; let i = index">-->
              <!--<img class="d-block w-100" [src]="image.url" [alt]="image.name">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row justify-content-center mt-0 mt-sm-5 font-weight-bold">-->
            <!--<a (click)="prevImage()">Previous</a>-->
            <!--<span class="mx-3">/</span>-->
            <!--<a (click)="nextImage()">Next</a>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->

    </div>


    <!--Normal behavior-->
    <div class="row mt-5 col-lg-11 m-auto px-xs-0 px-md-3">
      <div *ngFor="let image of imageCollection" (deferLoad)="image.show = true" class="col-md-6 col-lg-6 my-5 px-xs-0 px-md-3">
        <ng-container *ngIf="image.show">
          <div>
            <img class="w-100" [src]="image.url">
            <!--<h4 class="mt-4 custom-border font-weight-bold">{{image.name}}</h4>-->
          </div>
        </ng-container>
      </div>
    </div>


  </section>


  <section class="my-5 mx-md-5 card bg-light border-0">
    <div class="row">
      <div class="col-sm-6 col-md-7 col-lg-7">
        <img class="w-100" src="../assets/live/image11.jpg">
      </div>
      <div class="col-sm-5 col-md-5 col-lg-5 m-auto font-cardo pl-lg-5">

        <h4 class="m-sm-0 my-xs-1 pt-2"> <a [routerLink]="['/work']" class="text-dark">Work <i class="fa fa-long-arrow-right ml-4 text-danger" style="vertical-align: middle; transform: scale(1.9,1);"></i></a></h4>

        <div class="dropdown-divider mr-4 my-md-4"></div>
        <h4 class="m-0"> <a [routerLink]="['/play']" class="text-dark">Play <i class="fa fa-long-arrow-right  ml-4 text-danger" style="vertical-align: middle; transform: scale(1.9,1);"></i></a></h4>
        <div class="dropdown-divider mr-4 my-md-4"></div>
        <h4 class="m-0"> <a class="text-dark">Our Process <i class="fa fa-long-arrow-right ml-lg-4 ml-sm-2 ml-4 text-danger" style="vertical-align: middle; transform: scale(1.9,1);"></i></a></h4>
      </div>
    </div>
  </section>

</div>
<app-contactinfo-component></app-contactinfo-component>
