<div class="container">
<!--TODO: JSS Need to add this. Need to set size of image matching all other images
 {
      "url" : "../../assets/live/CameronResidence/image1.jpg",
      "name" : "RichCreek",
      "show" : false
    },
-->
  <section>
    <div class="row mb-3">
      <div class="col-md-5 col-lg-5 font-cardo m-auto">
        <h1 class="display-5">{{projectData.projectName}}</h1>
        <p class="font-1-1 m-1" *ngFor="let detail of projectData.projectdescription">{{detail}}</p>

        <!--<p class="mt-md-4" style="font-size: 1.5rem;">{{projectData.projectdescription}}</p>-->

        <div class="m-auto">

          <span *ngFor="let person of projectData.projectPersons; let i = index">
            <h5 class="m-0 text-muted font-weight-light"
                [ngClass]="{'mt-5':i==0}">{{person.name}}, {{person.position}}</h5>

            <div class="dropdown-divider mr-4 my-3" *ngIf="i!==(projectData.projectPersons.length-1)"></div>
          </span>

        </div>
      </div>

      <div class="col-md-7 col-lg-6 offset-lg-1 mt-3 mt-lg-0" *ngIf="mainImageUrl">
        <a [href]="mainImageUrl" data-lightbox="projectImage"><img class="w-100" [src]="mainImageUrl"></a>
      </div>

      <!--TODO JSS in case required Carousel behavior-->
      <!--<div class="col-md-12 col-lg-7 m-auto">-->

        <!--<div id="projectCarousel" class="carousel slide my-4" data-ride="carousel">-->

          <!--&lt;!&ndash; The slideshow &ndash;&gt;-->
          <!--<div class="carousel-inner product-carousel clearfix">-->
            <!--<div [className]="i==1 ? 'carousel-item active' : 'carousel-item'"-->
                 <!--*ngFor="let image of imageCollection; let i = index">-->
              <!--<img class="d-block w-100" [src]="image.url" [alt]="image.name">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row justify-content-center mt-0 mt-sm-5 font-weight-bold">-->
            <!--<a (click)="prevImage()">Previous</a>-->
            <!--<span class="mx-3">/</span>-->
            <!--<a (click)="nextImage()">Next</a>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->

    </div>

    <!--Normal behavior-->
    <div class="row mt-5 col-lg-11 m-auto px-xs-0 p-03">
      <div *ngFor="let image of imageCollection; let i=index" (deferLoad)="image.show = true" class="col-md-6 col-lg-6 my-3 p-0">
        <ng-container *ngIf="image.show">
          <div [ngClass]="{'pr-sm-2':i%2==0, 'pl-sm-2':i%2!=0}">
            <a [href]="image.url" data-lightbox="projectImage"><img class="w-100" [src]="image.url"></a>
          </div>
        </ng-container>
      </div>
    </div>


  </section>


  <section class="my-1 mx-md-5 card bg-light border-0">
    <app-consultation-component></app-consultation-component>
  </section>

</div>
<app-contactinfo-component></app-contactinfo-component>
