<div class="container">

  <section>
    <div class="row">
      <div class="col-md-5 col-lg-5 m-auto">
        <h1 class="font-weight-bold display-3">Work</h1>
        <h1 class="font-weight-normal mt-4">Residential Architecture & Interior Design</h1>
      </div>
      <div class="col-md-7 col-lg-7">
        <img class="w-100" src="../assets/live/page-header.jpg">
      </div>
    </div>
    <div class="row mt-5 col-lg-11 m-auto">
      <div *ngFor="let image of imageCollection" (deferLoad)="image.show = true" class="col-md-6 col-lg-6 my-5">
        <ng-container *ngIf="image.show">
          <div>
            <a (click)="goToProject()"><img class="w-100" [src]="image.url"></a>
            <label class="mt-3 custom-border">{{image.name}}</label>
          </div>
        </ng-container>
      </div>
    </div>
    </section>
    <section class="my-5 card border-0 p-4">
      <div class="row col-lg-11 m-auto bg-light p-0">
        <div class="col-sm-6 col-md-6 col-lg-6 p-0">
          <img class="w-100" src="../assets/live/image11.jpg">
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5 m-auto font-cardo pl-lg-5">

          <h4 class="m-sm-0 my-xs-1 pt-2"> <a [routerLink]="['/work']" class="text-dark">Work <i class="fa fa-long-arrow-right ml-4 text-danger" style="vertical-align: middle; transform: scale(1.9,1);"></i></a></h4>

          <div class="dropdown-divider mr-4 my-md-4"></div>
          <h4 class="m-0"> <a [routerLink]="['/play']" class="text-dark">Play <i class="fa fa-long-arrow-right  ml-4 text-danger" style="vertical-align: middle; transform: scale(1.9,1);"></i></a></h4>
          <div class="dropdown-divider mr-4 my-md-4"></div>
          <h4 class="m-0"> <a class="text-dark">Our Process <i class="fa fa-long-arrow-right ml-lg-4 ml-sm-2 ml-4 text-danger" style="vertical-align: middle; transform: scale(1.9,1);"></i></a></h4>
        </div>
      </div>
    </section>
  
  </div>
  <app-contactinfo-component></app-contactinfo-component>
