/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';


/* custom Styles start from here */

/*@media(min-width : 576px){body{background: cyan;}}*/
/*@media(min-width : 768px){body{background: lightblue;}}*/
/*@media(min-width : 992px){body{background: lightgreen;}}*/
/*@media(min-width : 1200px){body{background: white}}*/
/*@media(max-width : 575px){body{background: gray;}}*/

.btn-danger{
  background-color: #d81225!important;
}
html {
  height: 100%;
}

.router-link-active {
  color: #d81225 !important;
  font-weight: bold;
}

.custom-border:after{
  content: "";
  display: block;
  width: 1rem;
  padding-top: 10px;
  border-bottom: 2px solid #d81225;
}

.custom-large-margin{
  margin-top: 120px!important;
}
.container {
  max-width: 1440px!important;
}


a:hover
{
  color:white;
  text-decoration:none;
  cursor:pointer;
}
html, body {
  font-family: 'Montserrat', sans-serif;
}
