<div class="container">

  <div class="row">
    <div class="col-md-2 col-lg-3 m-auto">
      <h1 class="font-weight-normal" style="font-size:5vw;">Services</h1>
    </div>
    <div class="col-md-7 offset-md-1 col-lg-7">
      <img class="w-100" src="../assets/services/services-header.jpg">
    </div>
  </div>


  <section class="my-5 card bg-light border-0">
    <div class="row card-body">
      <div class="col-md-4 col-lg-4 m-auto">
        <label class="custom-border">WHAT WE DO</label>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem tincidunt</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem tincidunt</p>
      </div>
      <div class="col-md-4 col-lg-4 m-auto">
        <label>Commercial Architectural Design</label>
        <div class="dropdown-divider mr-4"></div>
        <label>Residential Architectural Design</label>
        <div class="dropdown-divider mr-4"></div>
        <label>Interior Design Services</label>
        <div class="dropdown-divider mr-4"></div>
        <label>Due Diligence > Code Research</label>
        <div class="dropdown-divider mr-4"></div>
        <label>Site Analysis</label>
      </div>
      <div class="col-md-4 col-lg-4 m-xl-auto mt-sm-4">
        <label>Site Documentation</label>
        <div class="dropdown-divider mr-4"></div>
        <label>3-D Renderings</label>
        <div class="dropdown-divider mr-4"></div>
        <label>Furniture Selection</label>
        <div class="dropdown-divider mr-4"></div>
        <label>Sustainable Design</label>
      </div>
    </div>
  </section>


  <section class="my-5">
    <div class="row m-auto">
      <div class="col-md-3 col-lg-2 m-auto">
        <label class="custom-border">OUR PROCESS</label>
      </div>
      <div class="col-md-9 col-lg-10 m-auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat</p>
      </div>
    </div>

    <div class="mx-md-4">
      <div class="row mt-5">
        <div class="col-md-6 col-lg-5 m-auto">
          <img class="w-100" src="../assets/services/Workshop No 5 Branding-57.png">
        </div>
        <div class="col-md-6 col-lg-6 m-auto">
          <label class="custom-border">01</label>
          <h3>Complimentory Consultation</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem tincidunt</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 col-lg-5 m-auto">
          <img class="w-100" src="../assets/services/Workshop No 5 Branding-49.png">
        </div>
        <div class="col-md-6 col-lg-6 m-auto">
          <label class="custom-border">02</label>
          <h3>Due Diligence</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem tincidunt</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 col-lg-5 m-auto">
          <img class="w-100" src="../assets/services/Workshop No 5 Branding-73.png">
        </div>
        <div class="col-md-6 col-lg-6 m-auto">
          <label class="custom-border">03</label>
          <h3>Proposal with Project Roadmap</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem tincidunt</p>
        </div>
      </div>
    </div>
  </section>

  <section class="my-5">
    <div class="row justify-content-center">
      <div>
        <h3 class="text-center"> When we work together</h3>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem tincidunt</p>
        </div>
      </div>
    </div>
  </section>

  <section class="my-5 mx-md-5 card bg-light border-0">
    <div class="row">
      <div class="col-sm-6 col-md-7 col-lg-7">
        <img class="w-100" src="../assets/services/Workshop No 5 Branding-45.png">
      </div>
      <div class="col-sm-5 col-md-5 col-lg-5 m-auto">

        <h5 class="m-sm-0 font my-xs-1 ml-sm-2"> <a [routerLink]="['/livePage']" class="text-dark">Live <i class="fa fa-long-arrow-right ml-4 text-danger" style="vertical-align: middle; transform: scale(1.9,1);"></i></a></h5>

        <div class="dropdown-divider mr-4 my-md-4"></div>
        <h5 class="m-0"> <a [routerLink]="['/work']" class="text-dark">Work <i class="fa fa-long-arrow-right ml-4 text-danger" style="vertical-align: middle; transform: scale(1.9,1);"></i></a></h5>
        <div class="dropdown-divider mr-4 my-md-4"></div>
        <h5 class="m-0"> <a [routerLink]="['/play']" class="text-dark">Play <i class="fa fa-long-arrow-right ml-4 text-danger" style="vertical-align: middle; transform: scale(1.9,1);"></i></a></h5>
      </div>     
    </div>
  </section>

</div>
  <app-contactinfo-component></app-contactinfo-component>
