<div class="container">

  <div class="row">
    <div class="col-md-5 col-lg-5 m-auto">
      <h1>Live</h1>
      <h4>Residential Architecture & Interior Design</h4>
    </div>
    <div class="col-md-7 col-lg-7">
      <img class="w-100" src="src/assets/live/live-header.jpg">
    </div>
  </div>


  <section class="my-5 card bg-light border-0">
    <div class="row card-body">
      <div class="col-md-4 col-lg-4 m-auto">
        <label class="custom-border">WHAT WE DO</label>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem tincidunt</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem tincidunt</p>
      </div>
      <div class="col-md-4 col-lg-4 m-auto">
        <label>Commercial Architectural Design</label>
        <div class="dropdown-divider mr-4"></div>
        <label>Residential Architectural Design</label>
        <div class="dropdown-divider mr-4"></div>
        <label>Interior Design Services</label>
        <div class="dropdown-divider mr-4"></div>
        <label>Due Diligence > Code Research</label>
        <div class="dropdown-divider mr-4"></div>
        <label>Site Analysis</label>
      </div>
      <div class="col-md-4 col-lg-4 m-xl-auto mt-sm-4">
        <label>Site Documentation</label>
        <div class="dropdown-divider mr-4"></div>
        <label>3-D Renderings</label>
        <div class="dropdown-divider mr-4"></div>
        <label>Furniture Selection</label>
        <div class="dropdown-divider mr-4"></div>
        <label>Sustainable Design</label>
      </div>
    </div>
  </section>


  <section class="my-5">
    <div class="row m-auto">
      <div class="col-md-3 col-lg-2 m-auto">
        <label class="custom-border">OUR PROCESS</label>
      </div>
      <div class="col-md-9 col-lg-10 m-auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem tincidunt</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6 col-lg-6 m-auto">
        <img class="w-100" src="src/assets/live/live-header.jpg">
      </div>
      <div class="col-md-6 col-lg-6 m-auto">
        <label class="custom-border">01</label>
        <h3>Complimentory Consultation</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem tincidunt</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 col-lg-6 m-auto">
        <img class="w-100" src="src/assets/live/live-header.jpg">
      </div>
      <div class="col-md-6 col-lg-6 m-auto">
        <label class="custom-border">02</label>
        <h3>Due Diligence</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem tincidunt</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 col-lg-6 m-auto">
        <img class="w-100" src="src/assets/live/live-header.jpg">
      </div>
      <div class="col-md-6 col-lg-6 m-auto">
        <label class="custom-border">03</label>
        <h3>Proposal with Project Roadmap</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem tincidunt</p>
      </div>
    </div>

  </section>

  <section class="my-5">
    <div class="row justify-content-center">
      <div>
        <h3 class="text-center"> When we work together</h3>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem tincidunt</p>
        </div>
      </div>
    </div>
  </section>

  <section class="my-5 card bg-light border-0">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <img class="w-100" src="src/assets/live/live-header.jpg">
      </div>
      <div class="col-md-6 col-lg-6 m-auto">

        <label class="m-0"> <a>Work</a><i class="fas fa-long-arrow-right ml-2 fa-3x" style="vertical-align: middle;"></i></label>

        <div class="dropdown-divider mr-4"></div>
        <label class="m-0"> <a>Work</a><i class="fas fa-long-arrow-alt-right ml-2 fa-3x" style="vertical-align: middle;"></i></label>
        <div class="dropdown-divider mr-4"></div>
        <label class="m-0"> <a>Play</a><i class="fas fa-long-arrow-alt-right ml-2 fa-3x" style="vertical-align: middle;"></i></label>
      </div>
    </div>
  </section>


</div>
