<div class="container">
  <div *ngFor="let image of imageCollection" (deferLoad)="image.show = true">
    <ng-container *ngIf="image.show">

  <div class="row">
    <div class="col-md-5 col-lg-5">
          <h1>Live</h1>
          <h4>Residential Architecture & Interior Design</h4>
    </div>
    <div class="col-md-7 col-lg-7">
        <img class="w-100" [src]="image.url">
      </div>
  </div>

  <div class="row">
      <div class="col-md-6 col-lg-6">
            <h1>Live</h1>
            <h4>Residential Architecture & Interior Design</h4>
      </div>
      <div class="col-md-6 col-lg-6">
          <h1>Live</h1>
          <h4>Residential Architecture & Interior Design</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
              <h1>Live</h1>
              <h4>Residential Architecture & Interior Design</h4>
        </div>
        <div class="col-md-6 col-lg-6">
            <h1>Live</h1>
            <h4>Residential Architecture & Interior Design</h4>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-lg-6">
                <h1>Live</h1>
                <h4>Residential Architecture & Interior Design</h4>
          </div>
          <div class="col-md-6 col-lg-6">
              <h1>Live</h1>
              <h4>Residential Architecture & Interior Design</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                  <h1>Live</h1>
                  <h4>Residential Architecture & Interior Design</h4>
            </div>
            <div class="col-md-6 col-lg-6">
                <h1>Live</h1>
                <h4>Residential Architecture & Interior Design</h4>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-lg-6">
                    <h1>Live</h1>
                    <h4>Residential Architecture & Interior Design</h4>
              </div>
              <div class="col-md-6 col-lg-6">
                  <h1>Live</h1>
                  <h4>Residential Architecture & Interior Design</h4>
                </div>
            </div>
    </ng-container>
  </div>

</div>
