<div><label><a [routerLink]="['/pageB']">GoToPage-B</a></label>
</div>
<h1 class="text-center display-3 my-2">Title Tag</h1>
<section class="container">
  <section class="row testClass1">
    <div class="col">equal</div>
    <div class="col">equal</div>
    <div class="col">equal</div>
    <div class="col">equal</div>
    <div class="col">equal</div>
    <div class="col">equal</div>
    <div class="col">equal</div>
    <div class="col">equal</div>
    <div class="col">equal</div>
    <div class="col">equal</div>
    <div class="col">equal</div>
    <div class="col">equal</div>
  </section>
</section>

<section class="container my-4 ">
  <section class="row">
    <div class="col-sm order-3">First</div>
    <div class="col-sm order-2">second</div>
    <div class="col-sm order-1">Third</div>
  </section>
</section>

class - align-items-start
<section class="bg-success my-4 ">
  <section class="row bg-warning align-items-start" style="height : 200px;">
    <div class="col bg-secondary">First</div>
    <div class="col bg-info">second</div>
    <div class="col bg-primary">Third</div>
  </section>
</section>
class - align-items-start
<section class="bg-success my-4 ">
  <section class="row bg-warning align-items-end" style="height : 200px;">
    <div class="col bg-secondary">First</div>
    <div class="col bg-info">second</div>
    <div class="col bg-primary">Third</div>
  </section>
</section>

class - align-items-center
<section class="bg-success my-4 ">
  <section class="row bg-warning align-items-center" style="height : 200px;">
    <div class="col bg-secondary">First</div>
    <div class="col bg-info">second</div>
    <div class="col bg-primary">Third</div>
  </section>
</section>

Align columns
<section class="bg-success my-4 ">
  <section class="row bg-warning" style="height : 200px;">
    <div class="col bg-secondary align-self-start">First</div>
    <div class="col bg-info align-self-center">second</div>
    <div class="col bg-primary align-self-end">Third</div>
  </section>
</section>

justify-content-center Also have a class justify-content-around ustify-content-between other than end and start
<section class="bg-success my-4">
  <section class="row bg-warning justify-content-center" style="height : 200px;">
    <div class="col-4 bg-secondary">First</div>
    <div class="col-4 bg-info ">second</div>
  </section>
</section>

Flex-row - Can also use classes like flex-column and then flex-column-reverese
<aside class="container">
  <section class="d-flex flex-row justify-content-around">
    <div class="p-4 bg-secondary">First</div>
    <div class="p-4 bg-info">second</div>
    <div class="p-4 bg-primary">third</div>
  </section>
</aside>

<aside class="container my-3">
    flex-row and columns. We can use align-self-md-start so that this class applies to screens md and above only
  <section class="d-flex flex-row" style="height:250px;">
    <div class="p-4 bg-secondary align-self-start">First</div>
    <div class="p-4 bg-info align-self-center">second</div>
    <div class="p-4 bg-primary align-self-end">third</div>
    <div class="p-4 bg-primary align-self-baseline h3">fourth</div>
    <div class="p-4 bg-danger align-self-stretch">fifth</div>

  </section>
</aside>