<div class="row m-md-5 m-sm-3 vdivide custom-large-top-margin mx-1">
  <div class="col-md-3 col-lg-3 pl-md-5">
    <label class="dynamicFont custom-border font-weight-bold">INBOX</label>
    <h5 class="dynamicFont font-cardo"><b>info@workshopno5.com</b></h5>
  </div>
  <div class="col-md-3 col-lg-3 pl-md-5">
    <label class="dynamicFont custom-border font-weight-bold">OFFICE</label>
    <h5 class="dynamicFont font-cardo"><b>3027 N Lamar Ste 302B, Austin, TX</b></h5>
  </div>
  <div class="col-md-3 col-lg-3 pl-md-5">
    <label class="dynamicFont custom-border font-weight-bold">TELEPHONE</label>
    <h5 class="dynamicFont font-cardo"><b>+1(512)&nbsp;710-9705</b></h5>
  </div>
  <div class="col-md-3 col-lg-3 pl-md-5">
    <label class="dynamicFont custom-border text-nowrap font-weight-bold">LET'S CHAT</label>
    <h5 class="dynamicFont font-cardo"><b>Setup a consultation <a [routerLink]="['/contactUs']" class="text-danger">here</a></b></h5>
  </div>

</div>
