<div class="row m-md-5 m-sm-3 vdivide custom-large-margin mx-1">
  <div class="col-md-3 col-lg-3 pl-md-5">
    <label class="dynamicFont custom-border">INBOX</label>
    <h5 class="dynamicFont"><b>info@workshopno5.com</b></h5>
  </div>
  <div class="col-md-3 col-lg-3 pl-md-5">
    <label class="dynamicFont custom-border">OFFICE</label>
    <h5 class="dynamicFont"><b>1405 Rio Grande, Austin, TX</b></h5>
  </div>
  <div class="col-md-3 col-lg-3 pl-md-5">
    <label class="dynamicFont custom-border">TELEPHONE</label>
    <h5 class="dynamicFont"><b>+1(512)710-9705</b></h5>
  </div>
  <div class="col-md-3 col-lg-3 pl-md-5">
    <label class="dynamicFont custom-border text-nowrap">LET'S CHAT</label>
    <h5 class="dynamicFont"><b>Setup a consultation <a href="#" class="text-danger">here</a></b></h5>
  </div>

</div>
