<div class="container">


  <div class="row custom-large-margin">
    <div class="col-md-2 col-lg-3 m-auto">
      <h1 class="font-weight-normal text-nowrap" style="font-size:5vw;">Contact Us</h1>
    </div>
    <div class="col-md-7 offset-md-1 col-lg-7">
      <img class="w-100" src="src/assets/contactUs/contactUs.png">
    </div>
  </div>

  <section class="my-5 card bg-light border-0">

    <div class="row m-sm-1">
      <div class="col-sm-5 col-md-5 col-lg-4 m-auto">
        <div>
          <h5 class="custom-border font-weight-normal">TELEPHONE</h5>
          <h4>+1(512)710-9705</h4>
        </div>
        <div class="mt-5">
          <h5 class="custom-border font-weight-normal">INBOX</h5>
          <h4>vani@workshopno5.com</h4>
        </div>
        <div class="mt-5">
          <h5 class="custom-border font-weight-normal">OFFICE</h5>
          <h4>1405 Rio Grande, Austin, TX</h4>
          <label><a class="text-danger">Google Map Directions</a></label>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-7">
        <img class="w-100 h-100" src="src/assets/contactUs/map.PNG">
      </div>
    </div>

  </section>

  <section class="custom-large-margin">
    <div class="m-auto text-center">
      <h1>Contact us for a free consultation</h1>
    </div>
    <form class="mt-5">
      <div class="form-group">
        <div class="col-lg-6 m-auto">
          <input type="email" class="form-control form-control-lg" id="txtName"
                 placeholder="Your Name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-6 m-auto">
          <input type="email" class="form-control form-control-lg" id="txtEmail" placeholder="Email Address">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-6 m-auto">
          <input type="text" class="form-control form-control-lg" id="txtAddressType"
                 placeholder="Residential or Commercial?">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-6 m-auto">
          <input type="text" class="form-control form-control-lg" id="txtCompanyName"
                 placeholder="If Commercial, what's your company name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-6 m-auto">
          <textarea type="text" class="form-control form-control-lg" id="txtHelp"
                    placeholder="How can we help you?"></textarea>
        </div>
      </div>
      <div class="offset-md-3">
        <div class="m-3">
        <button class="btn btn-danger btn-lg px-5 py-3" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </section>


</div>
<app-contactinfo-component></app-contactinfo-component>
