<div class="container">


  <div class="row mb-5">
    <div class="col-md-2 col-lg-3 m-auto">
      <h1 class="font-weight-normal text-nowrap font-cardo" style="font-size:4vw;">Contact Us</h1>
    </div>
    <div class="col-md-7 offset-md-1 col-lg-7">
      <img class="w-100" style="height:105%;" src="../assets/contactUs/contactUs.jpg">
    </div>
  </div>

  <section class="my-5 card bg-light border-0 custom-large-top-margin">

    <div class="row m-sm-1">
      <div class="col-sm-5 col-md-5 col-lg-4 m-auto">
        <div>
          <h5 class="custom-border font-weight-bold">TELEPHONE</h5>
          <h5 class="font-weight-bold mt-md-3 font-cardo">+1(512)710-9705</h5>
        </div>
        <div class="mt-5">
          <h5 class="custom-border font-weight-bold">INBOX</h5>
          <h5 class="font-weight-bold mt-md-3 font-cardo">vani@workshopno5.com</h5>
        </div>
        <div class="mt-5">
          <h5 class="custom-border font-weight-bold">OFFICE</h5>
          <h5 class="font-weight-bold mt-md-3 font-cardo">3027 N Lamar Ste 302B, Austin, TX</h5>
          <h5><a class="text-danger font-cardo" target="_blank" href="https://www.google.com/maps/place/Workshop+No5/@30.2998308,-97.7465038,19z/data=!3m1!4b1!4m5!3m4!1s0x8644b527a14f0e1b:0xae15ede2a0cb9ba6!8m2!3d30.2998308!4d-97.7459566">Google Map Directions</a></h5>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-7">
        <img class="w-100 h-100" src="../assets/contactUs/map.PNG">
      </div>
    </div>

  </section>

  <section class="custom-large-top-margin mb-5 font-cardo">
    <div class="m-auto text-center">
      <h1>Contact us for a free consultation</h1>
    </div>
    <form class="mt-5">
      <div class="form-group">
        <div class="col-lg-6 m-auto">
          <input type="email" class="form-control form-control-lg" id="txtName"
                 placeholder="Your Name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-6 m-auto">
          <input type="email" class="form-control form-control-lg" id="txtEmail" placeholder="Email Address">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-6 m-auto">
          <input type="text" class="form-control form-control-lg" id="txtAddressType"
                 placeholder="Residential or Commercial?">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-6 m-auto">
          <input type="text" class="form-control form-control-lg" id="txtCompanyName"
                 placeholder="If Commercial, what's your company name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-6 m-auto">
          <textarea type="text" class="form-control form-control-lg" id="txtHelp"
                    placeholder="How can we help you?"></textarea>
        </div>
      </div>
      <div class="offset-md-3 font-montserrat">
        <div class="m-3">
        <button class="btn btn-danger btn-lg px-5 py-3" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </section>

</div>
