<div class="row m-3">
<div class="footer py-4 d-none d-sm-inline">
  <a class="mx-md-4 mx-sm-1 text-white" [routerLink]="['/livePage']"><b>Live</b></a>
  <a class="mx-md-4 mx-sm-1 text-white"><b>Work</b></a>
  <a class="mx-md-4 mx-sm-1 text-white"><b>Play</b></a>
  <a class="mx-md-4 mx-sm-1 text-white" [routerLink]="['/services']"><b>Services</b></a>
  <a class="mx-md-4 mx-sm-1 text-white" [routerLink]="['/aboutUs']"><b>About</b></a>
  <a class="mx-md-4 mx-sm-1 text-white" [routerLink]="['/blog']"><b>Blog</b></a>
  <a class="mx-md-4 mx-sm-1 text-white" [routerLink]="['/contactUs']"><b>Contact</b></a>
</div>
</div>
