<div class="card border-0 bg-light p-2 mx-3 ">
  <div class="mb-3">
    <div class="row text-center m-auto p-2" style="max-height: 200px; max-width: 400px;">
      <img class="m-auto w-100" src="../assets/logo/footer-logo.png">
    </div>
    <div class="text-center mt-2">
      <i class="fa fa-2x fa-facebook-square"></i>
      <i class="fa fa-2x fa-instagram pl-3"></i>
      <i class="fa fa-2x fa-linkedin-square pl-3"></i>
    </div>
  </div>
  <div class="row my-4 p-2">
    <div class="footer d-none d-sm-inline" style="padding: 37px 0 37px 0;">
      <a class="mx-md-4 mx-sm-1 text-white" [routerLink]="['/livePage']"><b>Live</b></a>
      <a class="mx-md-4 mx-sm-1 text-white" [routerLink]="['/work']"><b>Work</b></a>
      <a class="mx-md-4 mx-sm-1 text-white" [routerLink]="['/play']"><b>Play</b></a>
      <a class="mx-md-4 mx-sm-1 text-white" [routerLink]="['/services']"><b>Services</b></a>
      <a class="mx-md-4 mx-sm-1 text-white" [routerLink]="['/aboutUs']"><b>About</b></a>
      <a class="mx-md-4 mx-sm-1 text-white" [routerLink]="['/blog']"><b>Blog</b></a>
      <a class="mx-md-4 mx-sm-1 text-white" [routerLink]="['/contactUs']"><b>Contact</b></a>
    </div>
  </div>
</div>
