<div class="px-5 pt-5">
 <a [routerLink]="['/homePage']"><img class="noTextLogo" src="../assets/logo/logo-no-text.png" ></a>
  <a href="javascript:void(0)"  id="expandButton" class="openBtn text-danger font-weight-bold" (click)="openNav()">&#9776;</a>
  <div id="myNav" class="overlay">

    <!--*ngIf="navOpened==true">&times;</a>-->
    <div class="overlay-content">

      <a href="javascript:void(0)" id="collapseButton" class="closebtn" (click)="closeNav()">&times;</a>
      <a [routerLink]="['/livePage']" [routerLinkActive]="['router-link-active']">Live</a>
      <a [routerLink]="['/work']" [routerLinkActive]="['router-link-active']">Work</a>
      <a [routerLink]="['/play']" [routerLinkActive]="['router-link-active']">Play</a>
      <a [routerLink]="['/services']" [routerLinkActive]="['router-link-active']">Services</a>
      <a [routerLink]="['/aboutUs']" [routerLinkActive]="['router-link-active']">About</a>
      <a [routerLink]="['/blog']" [routerLinkActive]="['router-link-active']">Blog</a>
      <a [routerLink]="['/contactUs']" [routerLinkActive]="['router-link-active']">Contact</a>
    </div>
  </div>
</div>
