.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.3);
  overflow-x: hidden;
  transition: 0.1ms;
  text-align: -webkit-right;
}

.overlay-content {
  opacity: 0.9;
  background-color: white;
  position: relative;
  padding-top: 10%;
  width: 28%;
  height : 100%;
  text-align: left;
  padding-left: 6%;
  min-width: 386px;
  overflow-y: scroll;
  font-family: 'Cardo', serif;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 32px;
  color: black;
  display: block;
  transition: 0.3s;
  font-weight: bold;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  z-index: 1;
}

.openBtn {
  position: absolute;
  top: 12%;
  right: 9%;
  font-size: 50px;
  z-index: 1;
}
.noTextLogo{
  max-width: 120px;
  max-height: 120px;
  margin-left: 5%;
  margin-top: 2.5%;
}


@media screen and (max-height: 450px), (max-width: 1100px){
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .openBtn {   
    top: 35px;
    right: 35px;
  }
  .noTextLogo{
    max-width: 80px;
    max-height: 80px;
    margin-left: 0%;
    margin-top: 0%;
  }
}

@media screen and (max-width: 1550px) and (min-width: 1100px) {
  .openBtn {
    position: absolute;
    top: 60px;
    right: 4%;
    font-size: 50px;
    z-index: 1;
  }

}
@media screen and (min-width: 1550px)and (max-width: 1742px) {
  .openBtn {
    position: absolute;
    top: 12%;
    right: 4%;
    font-size: 50px;
    z-index: 1;
  }

}
