<!--<div>-->
<!--<div class="fixed-navbar ">-->

  <!--<a  [routerLink]="['/homePage']"><img class="noTextLogo" src="../assets/logo/logo-no-text.png"></a>-->

  <!--<a href="javascript:void(0)" id="expandButton" class="openBtn text-danger font-weight-bold" (click)="openNav()">&#9776;</a>-->

<!--</div>-->

<!--<div class="px-5 pt-5">-->

  <!--<div id="myNav" class="overlay">-->

    <!--&lt;!&ndash;*ngIf="navOpened==true">&times;</a>&ndash;&gt;-->
    <!--<div class="overlay-content">-->
      <!--<a href="javascript:void(0)" id="collapseButton" class="closebtn" (click)="closeNav()">&times;</a>-->
      <!--<a [routerLink]="['/homePage']" [routerLinkActive]="['router-link-active']">Home</a>-->
      <!--<a [routerLink]="['/livePage']" [routerLinkActive]="['router-link-active']">Live</a>-->
      <!--<a [routerLink]="['/work']" [routerLinkActive]="['router-link-active']">Work</a>-->
      <!--<a [routerLink]="['/play']" [routerLinkActive]="['router-link-active']">Play</a>-->
      <!--<a [routerLink]="['/services']" [routerLinkActive]="['router-link-active']">Services</a>-->
      <!--<a [routerLink]="['/aboutUs']" [routerLinkActive]="['router-link-active']">About</a>-->
      <!--<a [routerLink]="['/blog']" [routerLinkActive]="['router-link-active']">Blog</a>-->
      <!--<a [routerLink]="['/contactUs']" [routerLinkActive]="['router-link-active']">Contact</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->

<div>
<nav class="navbar fixed-top navbar-expand-md navbar-light py-1 px-2" style="background-color: #d11b25;">
  <a  class="navbar-brand" [routerLink]="['/homePage']"><img class="noTextLogo" src="../assets/logo/workshopno5-brandmark-light.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <!--<span class="navbar-toggler-icon"></span>-->
    <span class="text-white font-weight-bold" style="font-size: 30px;">&#9776;</span>

  </button>
  <div class="collapse navbar-collapse font-cardo" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active ml-3">
        <!--<a [routerLink]="['/homePage']" [routerLinkActive]="['router-link-active']">Home</a>-->
        <a class="nav-link text-white font-weight-bold decentFont" [routerLink]="['/homePage']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown ml-3">
        <a class="nav-link dropdown-toggle text-white decentFont font-weight-bold" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Portfolio
        </a>
        <div class="dropdown-menu text-white ml-3" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item decentFont font-weight-bold" [routerLink]="['/residential']">Residential</a>
          <a class="dropdown-item decentFont font-weight-bold" [routerLink]="['/commercial']">Commercial</a>
        </div>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link text-white decentFont font-weight-bold" [routerLink]="['/services']">Services</a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link text-white decentFont font-weight-bold" [routerLink]="['/aboutUs']">About</a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link text-white decentFont font-weight-bold" [routerLink]="['/contactUs']">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
</div>
